body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    background-color: #000000;
    color: #f8f4f4;
}

h1 {
    color: #ccc7c7;
    text-align: center;
    margin-bottom: 20px;
}

form {
    background-color: #5c5959;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

form label {
    display: block;
    margin-bottom: 10px;
}

form input[type=text] {
    width: calc(100% - 20px);
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

form button {
    padding: 10px 20px;
    background-color: #5f5b5b;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #3d3a3a;
    box-shadow: 0 2px 4px rgba(226, 224, 224, 0.1);
    border: 1px solid #ccc; 
}

table th {
    background-color: #5c5959;
    color: #fdf9f9;
    padding: 10px;
    border: 1px solid #ccc; 
}

table td {
    padding: 10px;
    border: 1px solid #c4c1c1; 
}

a {
    color: #020202;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.image-container {
    text-align: center; 
    margin-top: 20px; 
}
