body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
}

h1 {
    color: #333;
}

form {
    margin-bottom: 20px;
}

.image-container {
    text-align: center; /* Centraliza horizontalmente */
    margin-top: 20px; /* Espaço acima da imagem */
}

.image-container img {
    max-width: 100%; /* Garante que a imagem não ultrapasse o tamanho máximo */
    height: auto; /* Mantém a proporção da imagem */
}
