<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Combinação de ilmes por Gênero</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Top 10 Filmes combinando 3 gêneros</h1>
    <form action="{{ url_for('consulta2') }}" method="get">
        <label for="genre1">Gênero 1:</label>
        <input type="text" id="genre1" name="genre1" required>
        <label for="genre2">Gênero 2:</label>
        <input type="text" id="genre2" name="genre2" required>
        <label for="genre3">Gênero 3:</label>
        <input type="text" id="genre3" name="genre3" required>
        <button type="submit">Buscar</button>
    </form>

    <div class="image-container">
        <img src="{{ url_for('static', filename='images/movie_image.png') }}" alt="Imagem do Filme">
    </div>

    {% if results %}
        <h2>Resultados</h2>
        <table>
            <thead>
                <tr>
                    {% for column in columns %}
                        <th>{{ column }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for result in results %}
                    <tr>
                        {% for column in columns %}
                            <td>{{ result[column] }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
</body>
</html>
